In [142]:
# Import SQL Alchemy
from sqlalchemy import create_engine
import sqlite3
import pandas as pd
from sqlalchemy import Column, Integer, String, Float
from pathlib import Path

In [143]:
database_path = "../Project-3-Group-3/fitness.sqlite"
Path(database_path).touch()

conn = sqlite3.connect(database_path)
csv_fitness = pd.read_csv("../Project-3-Group-3/Resources/exercise_dataset.csv")
csv_fitness.to_sql("Fitness", conn, if_exists='append', index=False)

conn.close()

In [144]:
# Establish Connection
engine = create_engine("sqlite:///fitness.sqlite")
conn = engine.connect()

In [145]:
try:
    # Execute a SQL query to fetch the data
    query = 'SELECT * FROM "Fitness"'  # Use quoted identifiers around the table name
    data = pd.read_sql_query(query, conn)
    print("Data successfully fetched from the database.")
except sqlite3.OperationalError as e:
    print("Error executing SQL query:", e)
finally:
    # Close the database connection
    conn.close()

Data successfully fetched from the database.

In [134]:
data

,ID,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,1,Exercise 2,286.959851,91.892531,96.301115,45,Male,37,170,29.426275,Rainy,5
1,2,Exercise 7,343.453036,64.165097,61.104668,25,Male,43,142,21.286346,Rainy,5
2,3,Exercise 4,261.223465,70.846224,71.766724,20,Male,20,148,27.899592,Cloudy,4
3,4,Exercise 5,127.183858,79.477008,82.984456,33,Male,39,170,33.729552,Sunny,10
4,5,Exercise 10,416.318374,89.960226,85.643174,29,Female,34,118,23.286113,Cloudy,3
...,...,...,...,...,...,...,...,...,...,...,...,...
23179,3860,Exercise 5,154.113144,98.147291,96.745133,20,Female,22,139,32.447764,Cloudy,7
23180,3861,Exercise 4,486.392768,97.598957,92.700573,21,Female,49,160,26.602475,Rainy,5
23181,3862,Exercise 4,264.307731,94.946612,96.778936,57,Male,56,167,31.435348,Rainy,9
23182,3863,Exercise 9,185.951870,64.743906,68.662889,58,Female,60,128,19.774614,Rainy,1
23183,3864,Exercise 7,116.360417,56.757424,59.833403,35,Male,22,134,29.581330,Rainy,1